<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=LAPTOP-72RU6OQ3\SQLEXPRESS;Initial Catalog=Projekt-Notatki;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>